<div class="w-full">
	<h3 class="text-xl font-semibold text-gray-800 pb-2 mb-3 border-b border-blue-400">Álbumes</h3>
	<div class="w-full grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-5">
		<card ng-repeat="album in albums" src="album.url"
		title="album.title"
		id="album.id"
		album="true"></card>
	</div>
</div>