<nav class="bg-white shadow-lg fixed top-0 right-0 left-0 z-50" ng-controller="RouteController">
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between">            
            <div class="flex space-x-7">
                <div>
                    <!-- Website Logo -->
                    <a href="#home" class="flex items-center py-4 px-2">
                        <div class="h-8 w-8 mr-2 rounded-full bg-blue-600">&nbsp;</div>
                        <span class="font-semibold text-gray-500 text-lg">I4Digital</span>
                    </a>
                </div>
                <!-- Primary Navbar items -->                
            </div>
            <!-- Secondary Navbar items -->
            <div class="hidden md:flex items-center space-x-1">
                <a href="#home" class="py-4 px-2 font-semibold transition duration-300" ng-class="{'text-blue-500 border-b-4 border-blue-500':currentRoute=='home','text-gray-500 hover:text-blue-500':currentRoute!='home'}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M13 19h6V9.978l-7-5.444-7 5.444V19h6v-6h2v6zm8 1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V9.49a1 1 0 0 1 .386-.79l8-6.222a1 1 0 0 1 1.228 0l8 6.222a1 1 0 0 1 .386.79V20z" fill="currentColor"/></svg>
                     Home
                </a>
                <a href="#users" class="py-4 px-2 font-semibold transition duration-300" ng-class="{'text-blue-500 border-b-4 border-blue-500':currentRoute=='users','text-gray-500 hover:text-blue-500':currentRoute!='users'}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M2 22a8 8 0 1 1 16 0h-2a6 6 0 1 0-12 0H2zm8-9c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6zm0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm8.284 3.703A8.002 8.002 0 0 1 23 22h-2a6.001 6.001 0 0 0-3.537-5.473l.82-1.824zm-.688-11.29A5.5 5.5 0 0 1 21 8.5a5.499 5.499 0 0 1-5 5.478v-2.013a3.5 3.5 0 0 0 1.041-6.609l.555-1.943z" fill="currentColor"/></svg>
                     Usuarios
                </a>                    
                <a href="#albums" class="py-4 px-2 font-semibold transition duration-300" ng-class="{'text-blue-500 border-b-4 border-blue-500':currentRoute=='albums','text-gray-500 hover:text-blue-500':currentRoute!='albums'}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M20 13c-1.678 0-3.249.46-4.593 1.259A14.984 14.984 0 0 1 18.147 19H20v-6zm-3.996 6C14.044 14.302 9.408 11 4 11v8h12.004zM4 9c3.83 0 7.323 1.435 9.974 3.796A10.949 10.949 0 0 1 20 11V3h1.008c.548 0 .992.445.992.993v16.014a1 1 0 0 1-.992.993H2.992A.993.993 0 0 1 2 20.007V3.993A1 1 0 0 1 2.992 3H6V1h2v4H4v4zm14-8v4h-8V3h6V1h2zm-1.5 9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" fill="currentColor"/></svg>
                     Álbumes
                </a>                    
                <a href="#posts" class="py-4 px-2 font-semibold transition duration-300" ng-class="{'text-blue-500 border-b-4 border-blue-500':currentRoute=='posts','text-gray-500 hover:text-blue-500':currentRoute!='posts'}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M16 20V4H4v15a1 1 0 0 0 1 1h11zm3 2H5a3 3 0 0 1-3-3V3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v7h4v9a3 3 0 0 1-3 3zm-1-10v7a1 1 0 0 0 2 0v-7h-2zM6 6h6v6H6V6zm2 2v2h2V8H8zm-2 5h8v2H6v-2zm0 3h8v2H6v-2z"  fill="currentColor"/></svg>
                     Publicaciones
                </a>                    
            </div>
            <!-- Mobile menu button -->
            <div class="md:hidden flex items-center">
                <button class="outline-none mobile-menu-button" ng-click="toggleMenu()">
                    <svg class=" w-6 h-6 text-gray-500 hover:text-blue-500 " fill="none"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <!-- mobile menu -->
    <div class="mobile-menu transition-all duration-200" ng-class="{'hidden': !showMenu}">
        <ul class="">
            <li class="active"><a href="#home"
                    class="block text-sm px-2 py-4 text-white bg-blue-500 font-semibold">Home</a></li>
            <li><a href="#users"
                    class="block text-sm px-2 py-4 hover:bg-blue-500 transition duration-300">Usuarios</a></li>
            <li><a href="#albums" class="block text-sm px-2 py-4 hover:bg-blue-500 transition duration-300">Álbumes</a>
            </li>
            <li><a href="#posts" class="block text-sm px-2 py-4 hover:bg-blue-500 transition duration-300">Publicaciones</a></li>
        </ul>
    </div>
</nav>