<div class="w-full">
	<h3 class="text-xl font-semibold text-gray-800 pb-2 mb-3 border-b border-blue-400">Usuarios</h3>

	<div class="grid md:grid-cols-2 gap-3 mb-6">
		<div class="form-group">
			<label for="search" class="text-blue-700">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
					<path fill="none" d="M0 0h24v24H0z" />
					<path
						d="M11 2c4.968 0 9 4.032 9 9s-4.032 9-9 9-9-4.032-9-9 4.032-9 9-9zm0 16c3.867 0 7-3.133 7-7 0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7zm8.485.071l2.829 2.828-1.415 1.415-2.828-2.829 1.414-1.414z"
						fill="currentColor" />
				</svg>
			</label>
			<input type="text" id="search" ng-model="search" ng-model-options="{ debounce: 500 }"
				class="focus:ring focus:ring-opacity-50 w-full max-w-xs rounded-md py-2 text-sm shadow-sm text-gray-800 dark:text-gray-200 dark:bg-opacity-5 dark:bg-white focus:border-blue-300 focus:ring-blue-200 border-gray-300 dark:border-gray-600"
				placeholder="Buscar">
		</div>
		<div class="form-group mb-3">
			<label for="search" class="text-blue-700">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M4 22a8 8 0 1 1 16 0H4zm9-5.917V20h4.659A6.009 6.009 0 0 0 13 16.083zM11 20v-3.917A6.009 6.009 0 0 0 6.341 20H11zm1-7c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6zm0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4z" fill="currentColor"/></svg>
			</label>
			<select type="text" id="type" ng-model="type"
				class="focus:ring focus:ring-opacity-50 w-full max-w-xs rounded-md py-2 text-sm shadow-sm text-gray-800 dark:text-gray-200 dark:bg-opacity-5 dark:bg-white focus:border-blue-300 focus:ring-blue-200 border-gray-300 dark:border-gray-600"
				>
				<option value="">Todos</option>
				<option value="Gerente">Gerente</option>
				<option value="Contratista">Contratista</option>
				<option value="Planta">Planta</option>
			</select>
		</div>
	</div>
	<div class="flex flex-col w-full">
		<div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
			<div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
				<div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
					<table class="min-w-full divide-y divide-gray-200">
						<thead class="bg-gray-50">
							<tr>
								<th scope="col"
									class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
									Nombre
								</th>
								<th scope="col"
									class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
									Dirección
								</th>
								<th scope="col"
									class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
									Compañia
								</th>
								<th scope="col"
									class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
									Usuario
								</th>
								<th scope="col"
									class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
									Tipo
								</th>
							</tr>
						</thead>
						<tbody class="bg-white divide-y divide-gray-200">
							<tr ng-repeat="user in users">
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="flex items-center">
										<div class="ml-4">
											<div class="text-sm font-medium text-gray-900">
												{{user.name}}
											</div>
											<div class="text-sm text-gray-500">
												{{user.email}}
											</div>
										</div>
									</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap">
									<div class="text-sm text-gray-900">{{user.address.street}}</div>
									<div class="text-sm text-gray-500">{{user.address.city}}</div>
								</td>
								<td class="px-6 py-4 whitespace-nowrap">
									<span
										class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
										{{user.company.name}}
									</span>
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
									{{user.username}}
								</td>
								<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
									{{user.type}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="flex flex-col items-center mx-auto my-8">
		<div class="flex text-gray-700">
			<!-- <div class="h-8 w-8 mr-1 flex justify-center items-center rounded-full bg-gray-200 cursor-pointer">
				<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left w-4 h-4">
					<polyline points="15 18 9 12 15 6"></polyline>
				</svg>
			</div> -->
			<div class="flex h-8 font-medium rounded-full bg-gray-200">
				<div class="w-8 md:flex justify-center items-center hidden cursor-pointer leading-5 transition duration-150 ease-in  rounded-full"
					ng-show="total>1" ng-class="{'bg-blue-600 text-white':page==1}" ng-click="getUsers(1)">1</div>
				<div class="w-8 md:flex justify-center items-center hidden cursor-pointer leading-5 transition duration-150 ease-in  rounded-full"
					ng-show="total>3" ng-class="{'bg-blue-600 text-white':page==2}" ng-click="getUsers(2)">2</div>
				<div class="w-8 md:flex justify-center items-center hidden cursor-pointer leading-5 transition duration-150 ease-in  rounded-full"
					ng-show="total>5" ng-class="{'bg-blue-600 text-white':page==3}" ng-click="getUsers(3)">3</div>
				<div class="w-8 md:flex justify-center items-center hidden cursor-pointer leading-5 transition duration-150 ease-in  rounded-full"
					ng-show="total>7" ng-class="{'bg-blue-600 text-white':page==4}" ng-click="getUsers(4)">4</div>
				<div class="w-8 md:flex justify-center items-center hidden cursor-pointer leading-5 transition duration-150 ease-in  rounded-full"
					ng-show="total>9" ng-class="{'bg-blue-600 text-white':page==5}" ng-click="getUsers(5)">5</div>
			</div>
			<!-- <div class="h-8 w-8 ml-1 flex justify-center items-center rounded-full bg-gray-200 cursor-pointer">
				<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right w-4 h-4">
					<polyline points="9 18 15 12 9 6"></polyline>
				</svg>
			</div> -->
		</div>
	</div>
</div>