<div class="w-full">
	<div class="pb-2 mb-3 border-b border-blue-400 inline-flex w-full">
		<h3 class="text-xl font-semibold text-gray-800">Posts</h3>
		<button ng-click="create = !create"
			class="ml-auto mr-0 py-2 px-2 font-medium text-xs text-blue-500 rounded border border-blue-600 shadow-sm hover:bg-blue-500 hover:text-white transition duration-300">
			<span ng-show="!create">
				Crear post
			</span>
			<span ng-show="create">
				Ver posts
			</span>
		</button>
	</div>
	<div class="w-full grid lg:grid-cols-2 grid-cols-1 gap-5 transition-all" ng-show="!create">
		<div ng-repeat="post in posts" class="shadow p-3 h-56 relative">
			<h5 class="text-lg text-gray-800 text-semibold mb-2">{{post.title}}</h5>
			<p class="text-justify text-semibold text-gray-700 text-sm">{{post.body}}</p>
			<div
				class="absolute text-xs text-gray-500 bottom-4 left-5 flex gap-3 w-16 pt-2  border-t-2 border-blue-400">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
					class="text-green-600">
					<path fill="none" d="M0 0h24v24H0z" />
					<path
						d="M7.291 20.824L2 22l1.176-5.291A9.956 9.956 0 0 1 2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10a9.956 9.956 0 0 1-4.709-1.176zm.29-2.113l.653.35A7.955 7.955 0 0 0 12 20a8 8 0 1 0-8-8c0 1.334.325 2.618.94 3.766l.349.653-.655 2.947 2.947-.655z"
						fill="currentColor" />
				</svg>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="text-red-600">
					<path fill="none" d="M0 0H24V24H0z" />
					<path
						d="M16.5 3C19.538 3 22 5.5 22 9c0 7-7.5 11-10 12.5C9.5 20 2 16 2 9c0-3.5 2.5-6 5.5-6C9.36 3 11 4 12 5c1-1 2.64-2 4.5-2zm-3.566 15.604c.881-.556 1.676-1.109 2.42-1.701C18.335 14.533 20 11.943 20 9c0-2.36-1.537-4-3.5-4-1.076 0-2.24.57-3.086 1.414L12 7.828l-1.414-1.414C9.74 5.57 8.576 5 7.5 5 5.56 5 4 6.656 4 9c0 2.944 1.666 5.533 4.645 7.903.745.592 1.54 1.145 2.421 1.7.299.189.595.37.934.572.339-.202.635-.383.934-.571z"
						fill="currentColor" />
				</svg>
			</div>
			<span class="absolute text-xs text-gray-500 bottom-4 right-5">28-09-2021 4:27pm</span>
		</div>
	</div>
	<div class="w-full transition-all" ng-show="create">
		<form class="ng-pristine ng-invalid ng-invalid-required flex flex-wrap gap-3" name="storePostForm"
			id="storePostForm" novalidate autocomplete="off" ng-submit="storePost()">
			<div class="flex flex-wrap w-full">
				<label for="title">Título del post</label>
				<input type="text" name="title" id="title" ng-model="newPost.title" required ng-minlength="5"
					ng-maxlength="40" maxlength="40"
					class="focus:ring focus:ring-opacity-50 w-full rounded-md py-2 text-sm shadow-sm text-gray-800 dark:text-gray-200 dark:bg-opacity-5 dark:bg-white focus:border-blue-300 focus:ring-blue-200 border-gray-300 dark:border-gray-600"
					placeholder="Título">
				<div class="text-xs text-red-500 transition-all" ng-messages="storePostForm.title.$error"
					ng-if='storePostForm.title.$dirty' ng-cloak>
					<div ng-message="required">El título es requerido</div>
					<div ng-message="minlength">
						El título debe tener almenos 5 caracteres
					</div>
					<div ng-message="maxlength">
						El título no debe tener más de 40 caracteres
					</div>
				</div>
			</div>
			<div class="flex flex-wrap w-full">
				<label for="body">Cuerpo del post</label>
				<textarea type="text" id="body" name="body" ng-model="newPost.body" required ng-minlength="15"
					ng-maxlength="250" maxlength="250"
					class="focus:ring focus:ring-opacity-50 w-full h-20 max-h-60 rounded-md py-2 text-sm shadow-sm text-gray-800 dark:text-gray-200 dark:bg-opacity-5 dark:bg-white focus:border-blue-300 focus:ring-blue-200 border-gray-300 dark:border-gray-600"
					placeholder="Título"></textarea>
				<div class="text-xs text-red-500 transition-all" ng-messages="storePostForm.body.$error"
					ng-if='storePostForm.body.$dirty' ng-cloak>
					<div ng-message="required">El cuerpo es requerido</div>
					<div ng-message="minlength">
						El cuerpo debe tener almenos 15 caracteres
					</div>
					<div ng-message="maxlength">
						El cuerpo no debe tener más de 250 caracteres
					</div>
				</div>
			</div>
			<div class="w-full text-center pt-4">
				<button type="submit" value="submit" id="submit" name="submit" 
					class="py-2 px-2 font-medium text-sm disabled:opacity-40 disabled:pointer-events-none text-green-500 rounded border border-green-600 shadow-sm hover:bg-green-500 hover:text-white transition duration-300"
					ng-disabled="storePostForm.title.$dirty &&  
					storePostForm.title.$invalid || storePostForm.body.$dirty &&  
					storePostForm.body.$invalid || newPost.body=='' || newPost.title ==''">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
						<path fill="none" d="M0 0h24v24H0z" />
						<path
							d="M5 5v14h14V7.828L16.172 5H5zM4 3h13l3.707 3.707a1 1 0 0 1 .293.707V20a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm8 15a3 3 0 1 1 0-6 3 3 0 0 1 0 6zM6 6h9v4H6V6z"
							fill="currentColor" />
					</svg> Crear
				</button>
			</div>
			<div class="w-full h-5 text-bold text-sm flex">
				<span class="m-auto">{{message}}</span>
			</div>
		</form>
	</div>
</div>