<div class="max-w-sm mx-auto rounded overflow-hidden shadow">
    <img class="w-full" ng-src="{{$ctrl.src}}" alt="{{$ctrl.title}}">
    <div class="px-6 py-4">        
        <p class="text-gray-700 text-base">
            {{$ctrl.title.substring(0,20)}}...
        </p>
    </div>
    <div class="px-6 pt-4 pb-2">
        <span ng-show="$ctrl.album != null"
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#album-{{$ctrl.id}}</span>
        <span ng-show="$ctrl.album == null"
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photo-{{$ctrl.id}}</span>
        <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#byPablo</span>
        <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#I4Digital</span>
    </div>
</div>